<div id="spell-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><em>Level {{level}} {{school.name}}</em></p>
        <p><b>Range: </b>{{range}}</p>
        <p><b>Concentration: </b>{{concentration}}</p>
        <p><b>Duration: </b>{{duration}}</p>
        <p><b>Casting Time: </b>{{casting_time}}</p>
        <p><b>Description: </b></p>
        {{#each desc}}
          <p>{{this}}</p>
        {{/each}}
      </div>
      <div class="modal-footer">
        {{#if (isKnownSpellId index)}}
          <button id="remove-spell" data-spellid="{{index}}" type="button" class="btn btn-danger">Remove from known spells</button>
        {{else}}
          <button id="add-spell" data-spellid="{{index}}" type="button" class="btn btn-primary">Add to known spells</button>
        {{/if}}
        <button id="" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var jump2MySpells = function () {
    dndSpellbook.renderMySpells();
    $(`.modal-backdrop`).remove();
    dndSpellbook.toggleNavLinks('mySpells');
    $('form.spell-search input').val('');
    dndSpellbook.state.searchParam = '';
  }

  $('#spell-modal').on('hidden.bs.modal', function () {
    console.log('closed modal');
    $(this).remove();
  })

  $('#spell-modal').find('button#add-spell').click(function () {
    var el = $(this);
    dndSpellbook.addToKnownSpells(el.data().spellid);
    jump2MySpells('mySpells');
  })

  $('#spell-modal').find('button#remove-spell').click(function () {
    var el = $(this);
    dndSpellbook.removeFromKnownSpells(el.data().spellid);
    jump2MySpells('mySpells');
  })
</script>
